@page "/"
@inject ISnackbar SnackbarService

<h1>Ready for business</h1>


<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OnClick">Show a snackbar with a custom component</MudButton>

@code {
    private void OnClick()
    {
        SnackbarService.Add("Hello");
        //         SnackbarService.Add
        //(
        //@<div>
        //    <h3>Hi from a RenderFragment</h3>
        //    <ul>
        //        <li>Here's a regular item</li>
        //        <li>Here's a <strong>bold item</strong></li>
        //        <li>Here's an <em>italicized item</em></li>
        //    </ul>
        //</div>
        //);
    }
}