@page "/Logout"
@using BlazorWithScaffolding.Pages;
@using Microsoft.AspNetCore.Identity
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<IdentityUser> SignInManager

<h1 class="text-8xl">This is the logout page</h1>

@functions {
    public async Task<IActionResult> OnGet()
    {
        Console.WriteLine("Logout");
        if (SignInManager.IsSignedIn(User))
        {
            Console.WriteLine("Signed Out");
            await SignInManager.SignOutAsync();
        }
        Console.WriteLine("Redirected");
        return Redirect("Identity/Account/Login");
    }
}